<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml" />
    <springProperty scope="context" name="name" source="spring.application.name"/>
    <springProperty scope="context" name="org" source="spring.application.org" />
    <variable  resource="application.properties" />
    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
        	<url>${LOKI_URL}</url>
        </http>
        <format>
            <label>
                <pattern>org=${org},app=${name},host=${HOSTNAME},level=%level</pattern>
                <readMarkers>true</readMarkers>
            </label>
            <message>
                <pattern>
                    {
                    "level":"%level",
                    "class":"%logger{36}",
                    "thread":"%thread",
                    "message": "%message",
                    "requestId": "%X{X-Request-ID}"
                    }
                </pattern>
            </message>
        </format>
    </appender>
	
	<logger name="com.zonesoft" level="DEBUG" />

    <root level="INFO">
        <appender-ref ref="LOKI"/>
    </root>

</configuration>