<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml" />
    <springProperty scope="context" name="name" source="spring.application.name"/>
    <springProperty scope="context" name="org" source="spring.application.org" />
    <variable  resource="application.properties" />
    
	<logger name="com.zonesoft" level="DEBUG" additivity="false">
		<appender-ref ref="CONSOLE"/>
	</logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>